.InputGroup {
  display: flex;
  flex-direction: column;
  position: relative;

  .Label {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 6.5px;
  }

  .Input {
    border: 1px solid #D8D8D8;
    width: 100%;
    height: 46px;
    padding: 13px 14.5px;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    line-height: 16px;
    transition: border-color .3s ease;

    &:focus {
      border-color: #EEB216;
    }

    &.Error {
      border-color: #F56161;
    }
  }

  .ErrorText {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    color: #C63131;
    font-size: 10px;
    line-height: 11px;
  }
}
