.Info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &.Center {
    text-align: center;
    align-items: center;
  }

  .Title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 40px;
    font-weight: bold;
  }
}
